/********************TAG STYLING********************/
body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

/* scrollbar */

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #11999E;
}

/* scrollbar */

hr{
    border-color: #e5f6f6;
    border-style: dotted;
    width: 4%;
    border-bottom: none;
    border-width: 7px;
    margin: 100px auto 100px auto;
}
h1{
    font-size: 6rem;
    margin: 50px auto 0px auto;
    /* font-family: 'Nothing You Could Do', cursive; */
    font-family: 'Dancing Script', cursive;
    color: #66BFBF;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
    padding-top: 10px;

}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 10px 20px;
}
a:hover{
    color: #EAF6F6;
}
p{
    line-height: 2;
}
/********************CLASS STYLING********************/
.top-container{
    position: relative;
    padding-top: 100px;
    background-color: #EAF6F6;
}
.intro{
    width: 30%;
    margin: auto;
}
.middle-container{
    margin: 100px 0 ;
}
.bottom-container{
    padding: 50px 0 20px;
    position: relative;
    background-color: #66BFBF;
    margin: auto auto 0 auto;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;   
}
.mountain{
    position: relative;
}
.profile-pic{
    border-radius: 100%;
    height: 200px;
    width: 200px;
    margin-bottom: 15px;
}
.skills{
    position: relative;
}
.skill-row{ 
    width: 50%;
    position: relative;
    margin: 100px auto 100px auto;
    text-align: left;
}
.skill-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skill2-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
/* id styling */
#projects-carousel{
    padding-top: 30px;
}
#copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding-top: 20px;
}
/* button */
.btn-email{
    background: #11CDD4;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #FFFFFF;

}
.btn-email:hover{
    border: solid #337FED 1px;
    background: #30E3CB;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
    color: #FFFFFF;
}